.c-card {

    
    
    &__inner {
        width: calc(100% - 40px);
        box-shadow: 0px 5px 10px rgba(0,0,0,.16);
        border-radius: 5px;
        transform: translateX(20px);
        padding: 1rem;

    }

    &__status {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 5px;
        font-weight: lighter;
        color: #BCBCBC;

    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        color: #333333;

    }

    &__image {
        width: calc(100% + 40px);
        transform: translateX(-20px);
        

        & > img {
            border-radius: 5px;
            width: 100%;
        }

    }



}