.c-card {

    
    
    &__inner {
        width: calc(100% - 40px);
        box-shadow: 0px 5px 10px rgba(0,0,0,.16);
        border-radius: 5px;
        transform: translateX(20px);
        padding: 1rem;

    }

    &__status {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 5px;
        font-weight: lighter;
        color: #BCBCBC;

    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        color: #333333;

    }

    &__image {
        width: calc(100% + 60px);
        transform: translateX(-30px);
        height: 160px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        

        & > img {
            border-radius: 5px;
            width: 100%;
        }

    }

    &__button {
        margin-top: 1em;
        width: calc(100% + 60px);
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        transform: translateX(-30px);

        & a:visited {
            color: #FF1474;
        }
    }

    &__progress {
        justify-content: flex-end;
        border-radius: 0px 0px 5px 5px;
        height: 15px;
        background: #BCBCBC;
        width: 100%;

        &--bar {
            justify-content: flex-end;
            display: flex;
            position: absolute;
            border-radius: 0px 0px 5px 5px;
            height: 15px;
            color: white;
            background: linear-gradient(to right, rgb(255, 20, 116), rgb(255, 168, 65));

            & p {
                justify-content: flex-end;
                font-size: 13px;
                transform: translateY(-1px);
                margin-right: 5px;
                opacity: 0.7;
            }
        }
    }


}