@import '../../scss/variables';

.c-site-header {

    min-height: 300px;
    padding-bottom: 4rem;
    //background-image: url('../../images/pmi-logo-large@2x.png');
    //background-image: linear-gradient($color-pink, $color-orange), url($cdn + '/static/media/pmi-logo-large@2x.png');
    background-repeat: repeat;
    background-size: cover;

    &__welcome {
        font-size: 4rem;
        font-weight: bold;
        color: white;
        padding-top: 3rem;
    }

    &__logo {
        height: 50px;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__meta {
        color: white;
        font-weight: 300;
        font-size: 1.2rem;
    }

    &__logout {
        margin-left: 2rem;
        text-decoration: underline;
    }

}